# Amap(高德地图) API 설정
# https://lbs.amap.com/ 에서 발급
NEXT_PUBLIC_AMAP_KEY=your_amap_api_key_here
NEXT_PUBLIC_AMAP_SECURITY_CODE=your_amap_security_code_here

# 환율 API (선택사항)
# https://www.exchangerate-api.com/ 무료 티어 사용 가능
NEXT_PUBLIC_EXCHANGE_RATE_API_KEY=your_exchange_rate_api_key_here
